@{
    ViewData["Title"] = "Import DVDs";
}

<h2>Import DVDs</h2>

<form asp-action="ImportPost" method="post">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Importer les DVDs</button>
</form>